* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --header-height: 60px;
  --main-top-margin: 60px;
  --h1-top-btm-margin: 10px;
  --h2-top-btm-margin: 5px;
  --primary-color: #1c2a4a;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
  font-family: "Montserrat", sans-serif;
  background: #fff;
  font-size: 1.03rem;
  color: #2e2e2e;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  padding: 0 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.logo {
  width: 100%;
  max-width: 6rem;
  object-fit: cover;
}
.select-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.select {
  appearance: none;
  width: 100%;
  font-size: 1rem;
  padding: 10px 40px 10px 20px;
  border: 1px solid lightblue;
  border-radius: 15px;
  box-sizing: border-box;
  color: #444;
  cursor: pointer;
}
.shopping-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  padding: 0.4rem;
  cursor: pointer;
  position: absolute;
  top: -4px;
  right: -15px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #0ca20c;
  color: #fff;
  z-index: 10;
}
.cart-count {
  position: absolute;
  top: -4px;
  right: -8px;
  width: 16px;
  height: 16px;
  /* font-weight: 600; */
  padding: 0.5rem 0;
  font-size: 0.75rem;
  border-radius: 50%;
  background: #aa0606;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav #menu-toggle {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

nav .nav-links li a {
  text-decoration: none;
  /* color: #111; */
  cursor: pointer;
  outline: none;
}
nav .nav-links li a:link {
  color: #0a0aff;
  /* font-weight: 500; */
}
nav .nav-links li a:visited {
  color: #000;
}

nav .nav-links li a:hover {
  color: #aa0606;
}
nav .nav-links li a:active,
nav .nav-links li a:focus {
  outline: none;
  padding: 0 0.2rem;
  border-bottom: 2px solid #0ca20c;
  /* border-radius: 5px 5px 0 0; */
}

/* Resonsiveness: Hide Menu on Mobile Device */
@media (max-width: 768px) {
  .select {
    max-width: 80%;
    padding: 8px 40px 8px 15px;
  }
  .shopping-cart {
    right: 35px;
    top: -2px;
  }
  .nav-links {
    list-style: none;
    flex-direction: column;
    background: #16153d;
    position: absolute;
    top: 60px;
    right: 0;
    width: 160px;
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    opacity: 0;
    transition:
      max-height 0.5s ease,
      opacity 0.5s ease;
  }
  nav .nav-links li a:any-link {
    color: #f7f6f5;
  }
  nav .nav-links li a:hover {
    border-bottom: 2px solid #0ca20c;
  }
  nav #menu-toggle {
    display: block; /* show hamburger */
  }
  .nav-links.show {
    max-height: 500px;
    opacity: 1;
    padding: 10px;
  }

  button {
    background: #0ca20c !important;
  }
  button:hover {
    background: linear-gradient(90deg, #004642, #16153d) !important;
    transform: translateY(-0.2rem) !important;
  }

  .about-author img {
    min-width: 150px;
  }
  .contact > form {
    max-width: 100%;
  }
}

/* Main CSS Styles... */
main {
  margin-top: var(--main-top-margin);
  padding: 20px;
  /* border: 1px double #aa0606; */
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
main:hover {
  box-shadow: 0 4px 10px var(--primary-color);
  border-radius: 15px;
}
h1,
h2,
h3:not(.author-h3) {
  text-align: center;
  font-family: "Playfair Display", serif;
  color: var(--primary-color);
}
.wlc-h1 {
  margin: var(--h1-top-btm-margin) 0;
}
.brand-name {
  margin: var(--h2-top-btm-margin) 0;
}
p.intro-para {
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 10px;
}
.hero-img {
  width: 100%;
  /* height: 100%; */
  max-height: 500px;
  border-radius: 10px;
  object-fit: cover;
}
figcaption {
  text-align: center;
  font-style: italic;
}
.price {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 5px;
}

button {
  display: block;
  background: #0a0aff;
  color: #f7f6f5;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  margin: 25px auto;
  cursor: pointer;
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  transition:
    background 2s,
    transform 2s,
    ease-in-out;
}
button:hover {
  background: linear-gradient(90deg, #004642, #16153d);
  transform: translateY(0.2rem);
}
.message {
  text-align: center;
  margin: -5px auto 0;
  font-size: 0.85rem;
  color: #004642;
}
.flex-display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
section.flex-display article {
  width: 100%;
  max-width: 350px;
  align-self: flex-start;
}
.products-catalog {
  padding-top: 15px;
}
.products-catalog img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  min-height: 25rem;
  object-fit: cover;
  border-radius: 10px;
}
.products-catalog p {
  text-align: center;
}

.about-author {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background: #aa060653;
  margin: 25px 0;
  border-radius: 32px 16px;
}
.about-author:hover,
.about-author:focus {
  box-shadow: 0 2px 5px #35063e;
}
.about-author img {
  width: 100%;
  max-width: 200px;
  border: 1px solid #004642;
  border-radius: 50%;
}
.about-author > .about2-article h3 {
  color: #0a0aff;
}
.about-author > .about2-article a {
  text-decoration: none;
  margin: 5px 0 0;
  color: #004642;
  cursor: pointer;
  border-bottom: 1px solid #0a0aff;
  display: inline-block;
}
.about-author > .about2-article a:hover {
  font-weight: 600;
  font-size: 1rem;
}

.contact > form {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

legend {
  text-align: center;
  font-size: small;
}
.asterisk,
label {
  color: #111;
}

.contact > form > fieldset {
  border: none;
}
.contact > form input,
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 10px;
  font-size: 1em;
  resize: both;
  background: #fff;
  border: 1px solid lightblue;
  border-radius: 6px;
}
.contact input[type="text"],
input[type="email"] {
  margin-bottom: 12px;
}
.select,
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: 1px solid #0077b3;
}

.submit-btn {
  padding: 0.5rem 5.5rem;
}

.hr-rule {
  height: 3px;
  margin: 10px auto;
  background: #004642aa;
  border-radius: 3px;
  border: none;
}

/* === Page Modal Styling === */
dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(20rem);
  /* max-height: 60vh; */
  /* overflow-y: auto; */
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
h3.head-3 {
  margin-bottom: 10px;
}
dialog > ul li {
  list-style: none;
  margin-bottom: 8px;
  vertical-align: middle;
}
.item-selected-with-price {
  margin-right: 10px;
}

dialog input[type="button"] {
  padding: 0.2rem;
  cursor: pointer;
}
.checkout-btn,
.close-btn {
  display: inline-block;
  margin-right: 10px;
}
.checkout-btn {
  background: #0a0aff !important;
  transition: unset !important;
}
.close-btn {
  background: #aa0606 !important;
  transition: unset !important;
}
.checkout-btn:hover {
  background: #0077b3 !important;
  transform: unset !important;
}
.close-btn:hover {
  background: #ab1728 !important;
  transform: unset !important;
}

/* === Footer Styling === */
.footer {
  background: #16153d;
  padding: 20px;
}
.footer > .small-text {
  text-align: center;
  font-size: 0.85rem;
  color: #f6f6f6a5;
}
